requests
pandas
hopsworks

# Resolve city names from (longitude, latitude) coordinates
geopy==2.4.1

# Read weather data. Unpinned version - if we don't update, we won't get the weather data
openmeteo-requests


# Plot charts
matplotlib==3.8.3